@import "normalize";
@import "variables";

body {
    background-color: $color-background;
    overflow-y:scroll;
}

h1 {
    color: $color-header-text;
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    margin: auto;
}
