@import '~antd/dist/antd.css';

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #eeeeee;
    overflow-y:scroll;
}

#header {
    padding-top: 30px;
    width: 100%;
}

h1 {
    color: #525252;
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    margin: auto;
}
